.form-fields-group
	padding 2px
	background-color #424242
	color #fff

	&__title
		padding 3px 8px 1px
		background-color #393939
		font-size 12px
		white-space nowrap
		text-overflow ellipsis
		overflow hidden

	&__body
		padding 8px 4px 3px
