.form-field
	display flex
	flex-flow row nowrap
	align-items center
	justify-content space-between

	& + &
		margin-top 5px

	&__label
	&__input
		font-size 12px

	&__label
		width 35%
		order 1
		padding 0 5px
		white-space nowrap
		overflow hidden
		text-overflow ellipsis

	&__input
		order 2
		width 65%

	&_type_radio
		padding-top 1px
		padding-bottom 1px
		padding-left 4px
		
		& + &
			margin-top 10px

	&_type_radiogroup > &__input
		width 100%
	&_type_radio &__label
		order 2
		width calc(100% - 12px)
	&_type_radio &__input
		order 1
		width 12px
