.modal-head
	position relative
	padding 13px 10px 9px
	color #fff

	&__title
		margin-top -2px
		margin-bottom -2px
		font-size 12px
		text-align left
		line-height 9px
		white-space nowrap
		text-overflow ellipsis
		overflow hidden

	&__close
		position absolute
		top 0
		bottom 0
		right 9px
		margin auto
		display block
		width 9px
		height 9px
		background-image url(/images/modal-close.png)
		cursor pointer
