.radio
	margin-top -2px
	width 12px
	height 12px
	background-color #000
	border 1px solid #5f5f5f
	border-radius 50%
	box-sizing border-box

	&_selected
		&::before
			margin 2px
			content ''
			display block
			width 6px
			height 6px
			background-color #7aafff
			border-radius 50%
