.select
	position relative
	background-color #222
	display flex
	flex-flow row nowrap
	align-items stretch
	height 22px
	cursor pointer

	&_opened
		z-index 2

	&__icon
		flex-grow 0
		padding-left 4px
		width 18px
		
		&::before
			margin 1px 0
			content ''
			display block
			width 100%
			height 20px

		&_type_1
			&::before
				background-image url(/images/select-icon-1.png)
		&_type_2
			&::before
				background-image url(/images/select-icon-2.png)

	&__value
		padding 0 5px
		flex-grow 1
		font-size 12px
		line-height 22px
		white-space nowrap
		text-overflow ellipsis
		overflow hidden

	&__arrow
		flex-grow 0
		position relative
		width 15px
		background-color #4474bf
		
		&::before
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			margin auto
			content ''
			display block
			width 1px
			height 0px
			border-top 4px solid white
			border-right 3px solid transparent
			border-left 3px solid transparent

	&__list
		position absolute
		top 22px
		left 0
		right 0
		display none
		background-color #222
	&_opened &__list
		display block

	&__item
		padding 3px 8px
		white-space nowrap
		text-overflow ellipsis
		overflow hidden
